[Unit]
Description=Messaging and Integration Patterns provider
After=local-fs.target
After=network.target

[Service]
Type=simple
SuccessExitStatus=0 143

ExecStart=/usr/bin/activemq console
User=activemq
Group=activemq

[Install]
WantedBy=multi-user.target

